@import url(../fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #e4e3eb;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

header button {
  width: 93px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 0;
  background-color: #5d37f3;
  font-family: "firaGo";
  font-weight: 700;
  line-height: 20px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

section {
  margin: 80px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section h1 {
  color: #1a1a1f;
  font-family: "firaGo";
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.categories h4 {
  display: flex;
  border-radius: 30px;
  padding: 8px;
  height: 32px;
  font-family: "firaGo";
  font-weight: 500;
  line-height: 16px;
  font-size: 12px;
  align-items: center;
}

.login-modal {
  width: 480px;
  height: 300px;
  background-color: #f0f0f0;
  position: absolute;
  top: 280px;
  left: 550px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 24px 24px;
  z-index: 1;
}

.login-modal .close-button {
  display: flex;
  justify-content: flex-end;
}

.btn-stealth {
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-header {
  margin-bottom: 24px;
}

.login-modal h3 {
  color: #1a1a1f;
  text-align: center;
  font-family: "firaGo";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs label {
  color: #1a1a1f;
  font-family: "firaGo";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

.inputs input {
  width: 432px;
  height: 42px;
  border-radius: 12px;
  border: 1.5px solid #5d37f3;
  background: #f7f7ff;
  padding: 12px 16px;
  margin-bottom: 24px;
}

.button {
  width: 100%;
  border-radius: 8px;
  background-color: #5d37f3;
  border: 0;
  height: 42px;
  color: #fff;
  font-family: "firaGo";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

.validation-message {
  display: flex;
  padding-bottom: 16px;
}

.validation-message .error-message {
  margin-left: 8px;
  color: #ea1919;
  font-family: "firaGo";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.validated {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.validated img {
  width: 64px;
  margin-bottom: 16px;
}

.validated p {
  color: #1a1a1f;
  text-align: center;
  font-family: "firaGo";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 32px;
}

.add-btn {
  width: 153px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 8px;
}

.heading {
  margin: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heading h1 {
  font-family: "firaGo";
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #1a1a1f;
  margin-left: 380px;
}

.container {
  display: flex;
  flex-direction: column;
}

.blog-header {
  display: flex;
  justify-content: center;
}

.blog-container {
  margin: auto;
  margin-bottom: 200px;
}

.blog-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  background-color: #f4f3ff;
  border: 1px dashed #85858d;
  border-radius: 8px;
  height: 180px;
  margin-top: 8px;
}

.blog-form img {
  padding-bottom: 24px;
  display: flex;
  margin: auto;
}

.blog-h2 {
  color: #1a1a1f;
  font-family: "firaGo";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.add-file label {
  color: #1a1a1f;
  font-family: "firaGo";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 10px;
}

.file-input {
  width: 180px;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.file-input::before {
  content: "აირჩიეთ ფაილი";
  color: #1a1a1f;
  font-family: "firaGo";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: underline;
}

.container2 {
  display: flex;
  margin-top: 24px;
}

.author {
  display: flex;
  flex-direction: column;
}

.labels {
  color: #1a1a1f;
  font-family: "firaGo";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.ml-24 {
  margin-left: 24px;
}

.inputs {
  width: 288px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background: #fcfcfd;
  padding: 8px;
}

.author ul li {
  margin: 8px 20px;
  color: #85858d;
  color: #85858d;
  font-family: "firaGo";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.author p {
  color: #85858d;
  font-family: "firaGo";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 8px;
}

.container3 {
  margin-top: 24px;
}

.container3 textarea {
  display: block;
  width: 600px;
  height: 124px;
  margin: 8px 0;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background-color: #fcfcfd;
  resize: none;
}

.container3 textarea::placeholder {
  padding: 16px;
}

input[type="date"] {
  padding-left: 0;
}

.submit-btn {
  margin-top: 50px;
  margin-left: 310px;
  width: 288px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #e4e3eb;
  border: 0;
  color: #fff;
  font-family: "firaGo";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.file-error {
  color: #ea1919 !important;
}

.file-success {
  color: #14d81c !important;
}

.valid-border {
  border: 1px solid #14d81c;
}

.invalid-border {
  border: 1px solid #ea1919;
}

.default-border {
  border: 1px solid #e4e3eb;
}

.title-text {
  font-family: "firaGo";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #85858d;
}

.email-validation-message {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.email-validation-message p {
  margin-left: 6px;
  font-family: "firaGo";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.email-validation-message.red {
  color: #ea1919;
}

.email-validation-message.green p {
  color: #14d81c;
}

.validated-submit-btn {
  width: 288px;
  height: 40px;
  padding: 10px, 20px, 10px, 20px;
  border-radius: 8px;
  background-color: #5d37f3;
  font-family: "firaGo";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

.categories-dropdown {
  min-width: 288px;
  height: 44px;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid #e4e3eb;
  background-color: #fcfcfd;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.selected-categories-container {
  display: flex;
  gap: 8px;
}

.selected-category {
  font-family: "firaGo";
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 8px;
  border-radius: 30px;
}

.categories-dropdown input {
  color: #85858d;
  font-family: "firaGo";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border: 0;
  background-color: #fcfcfd;
}

.toggle-button {
  border: 0;
  background-color: #fcfcfd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.categories-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-label {
  display: block;
  padding: 8px;
  cursor: pointer;
}

.category-checkbox {
  margin-right: 8px;
}

.category-title {
  padding: 4px 8px;
  border-radius: 4px;
}

.category-label:hover .category-title {
  background-color: #f0f0f0;
}

.close-icon {
  display: inline-block;
  width: 16px;
  margin-left: 8px;
}

.categories-dropdown.red {
  border: 1px solid #ea1919;
}

.categories-dropdown.green {
  border: 1px solid #14d81c;
}

.add-blog-btn {
  width: 200px;
  border-radius: 8px;
  background-color: #5d37f3;
  border: 0;
  height: 42px;
  color: #fff;
  font-family: "firaGo";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

.bg-color {
  background-color: #f0f0f0;
}

.modal-background-succes {
  width: 100vw;
}

.blog-card-div {
  margin: 64px 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 36px;
}

.blog-card {
  width: 408px;
}

.blog-card img {
  width: 408px;
  height: 328px;
  border-radius: 12px;
}

.author-name {
  color: #1a1a1f;
  font-family: "firaGo";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 6px;
}

.posted-date {
  color: #85858d;
  font-family: "firaGo";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.blog-heading {
  color: #1a1a1f;
  font-family: "firaGo";
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  width: 408px;
}

.added-blog-categories {
  width: 380px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.added-blog-description {
  color: #404049;
  font-family: "firaGo";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 408px;
}

.description-container {
  height: 56px;
  overflow: hidden;
}

.blog-card-container {
  max-width: 127px;
  max-height: 20px;
  display: flex;
  align-items: center;
}

.blog-card-btn {
  all: unset;
  color: #5d37f3;
  font-family: "firaGo";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.related-blogs .blog-card-btn img,
.blog-card-btn img {
  width: 20px;
  margin-left: 4px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.m-24 {
  margin: 24px 0;
}

.full-info-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
}

.container-two {
  margin-top: 40px;
  margin-bottom: 24px;
}
.container-two h3 {
  color: #1a1a1f;
  font-family: "firaGo";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 6px;
}

.container-two p {
  color: #85858d;
  font-family: "firaGo";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.full-info-container-heading {
  color: #1a1a1f;
  font-family: "firaGo";
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  max-width: 720px;
  margin-bottom: 24px;
}

.full-info-container-categories {
  max-width: 720px;
  margin-bottom: 40px;
}

.full-info-container-categories p {
  font-family: "firaGo";
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.full-info-container-description {
  max-width: 720px;
}

.full-info-container-description {
  color: #404049;
  font-family: "firaGo";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.ml-40 {
  margin-left: 100px;
}

.checked {
  opacity: 0.25;
  border: 2px solid #000000;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.slider-arrows {
  margin-right: 100px;
}

/* Style for each individual blog card */
.blogs-card {
  display: inline-block;
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.related-blogs {
  display: grid;
  margin-left: 60px;
  grid-template-columns: auto auto auto;
  margin-top: 20px;
  row-gap: 80px;
  margin-bottom: 100px;
}

.related-blogs img {
  width: 408px;
  height: 328px;
  border-radius: 12px;
}

.related-blogs h2 {
  margin-top: 10px;
  color: #1a1a1f;
  font-family: "firaGo";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.related-blogs p {
  margin-top: 5px;
  color: #85858d;
  font-family: "firaGo";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.related-blogs h3 {
  margin-top: 16px;
  width: 408px;
  color: #1a1a1f;
  font-family: "firaGo";
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}

.related-blogs-description {
  width: 408px;
  color: #404049;
  font-family: "firaGo";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.categories-styled {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 420px;
  gap: 10px;
}

.filtered-img {
  width: 20px;
}
